* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, rgba(13, 28, 34, 1) 50%, rgba(7, 22, 28, 1) 100%);
    overflow-x: hidden;
}

h1,
h2,
h5,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

h2 {
    color: $neutral-color-100;
    @include font-emphasis-40-40;
}