$primary-color-1: #44C668;
$primary-color-2: #114B21;
$secondary-color-3: #657B84;
$secondary-color-3: #2B444E;
$secondary-color-3: #203740;
$secondary-color-3: #212A28;
$neutral-color-1: #F6F6F6;
$neutral-color-2: #DADADA;
$neutral-color-3: #383838;