$primary-color-100: #44C668;
$primary-color-200: #114B21;

$secondary-color-90: #8E9FA6;
$secondary-color-100: #657B84;
$secondary-color-200: #2B444E;
$secondary-color-300: #203740;
$secondary-color-400: #212A28;
$secondary-color-500: #0D1C22;

$neutral-color-100: #F6F6F6;
$neutral-color-200: #DADADA;
$neutral-color-300: #383838;